<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Address</th>
                <th>Contact Number</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Website</th>
                <th>Location</th>
                <th>Department Name</th>
                <th>Office Name</th>
                <th>Add Department</th>
                <th>See Department</th>
            </tr>
        </thead>
        <tbody>
            <% for (company of companies) { %>
                <tr>
                    <td><%= company.COMPANY_NAME %></td>
                    <td><%= company.COMPANY_ADDRESS %></td>
                    <td><%= company.COMPANY_CONTACT_NUMBER %></td>
                    <td><%= company.COMPANY_FAX %></td>
                    <td><%= company.COMPANY_EMAIL %></td>
                    <td><%= company.COMPANY_WEBSITE %></td>
                    <td><%= company.COMPANY_LOCATION %></td>
                    <td><%= company.COMPANY_DEPARTMENT_NAME %></td>
                    <td><%= company.COMPANY_OFFICE_NAME %></td>
                    <td>
                        <form method="get" action="/company/add_department/<%=company.COMPANY_NAME%>">
                            <button>Add Department</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="/company/see_department/<%=company.COMPANY_NAME%>">
                            <button>See Department</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <hr>
    <br>
    <form action="/company/add" method="get">
        <button>Add Company</button>
    </form>
</body>
</html>