<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Incident Reports</h1>
    <table border="1">
        <thead>
            <tr>
                <th>INCIDENT_REPORT_ID</th>
                <th>INCIDENT_ID</th>
                <th>CUST_ID</th>
                <th>APPLICATION_ID</th>
                <th>INCIDENT_INSPECTOR</th>
                <th>INCIDENT_COST</th>
                <th>INCIDENT_TYPE</th>
                <th>INCIDENT_REPORT_DESCRIPTION</th>
            </tr>
        </thead>
        <tbody>
            <% for(item of report) { %>
                <tr>
                    <td><%= item.INCIDENT_REPORT_ID %></td>
                    <td><%= item.INCIDENT_ID %></td>
                    <td><%= item.CUST_ID %></td>
                    <td><%= item.APPLICATION_ID %></td>
                    <td><%= item.INCIDENT_INSPECTOR %></td>
                    <td><%= item.INCIDENT_COST %></td>
                    <td><%= item.INCIDENT_TYPE %></td>
                    <td><%= item.INCIDENT_REPORT_DESCRIPTION %></td>
                    <td>
                        <form>

                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
