<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>DEPARTMENT_NAME</th>
                <th>OFFICE</th>
                <th>CONTACT</th>
                <th>LEADER</th>
                <th>Add Office</th>
                <th>See Office</th>
            </tr>
        </thead>
        <tbody>
            <% departments.forEach(function(department) { %>
                <tr>
                    <td><%= department.DEPARTMENT_NAME %></td>
                    <td><%= department.OFFICE %></td>
                    <td><%= department.CONTACT_INFORMATION %></td>
                    <td><%= department.DEPARTMENT_LEADER %></td>
                    <td>
                        <form action="/company/add_office/<%= encodeURIComponent(companyName) %>/<%= encodeURIComponent(department.DEPARTMENT_NAME) %>" method="get">
                            <button type="submit">Add Office</button>
                        </form>
                    </td>
                    <td>
                        <form action="/company/see_office/<%= encodeURIComponent(companyName) %>/<%= encodeURIComponent(department.DEPARTMENT_NAME) %>" method="get">
                            <button type="submit">See Office</button>
                        </form>
                    </td>

                    <td>
                        <form action="/company/add_coverage/<%= encodeURIComponent(companyName) %>/<%= encodeURIComponent(department.DEPARTMENT_NAME) %>" method="get">
                            <button type="submit">Add Coverage</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
