<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Information</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Company Name</th>
                <th>Department Name</th>
                <th>Office Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Marital Status</th>
                <th>Nationality</th>
                <th>Qualification</th>
                <th>Allowance</th>
                <th>PPS Number</th>
            </tr>
        </thead>
        <tbody>
            <% for (mem of staff) { %>
                <tr>
                    <td><%=mem.STAFF_ID %></td>
                    <td><%=mem.COMPANY_NAME %></td>
                    <td><%=mem.DEPARTMENT_NAME %></td>
                    <td><%=mem.OFFICE_NAME %></td>
                    <td><%=mem.STAFF_FNAME %></td>
                    <td><%=mem.STAFF_LNAME %></td>
                    <td><%=mem.STAFF_ADDRESS%></td>
                    <td><%=mem.STAFF_CONTACT%></td>
                    <td><%=mem.STAFF_GENDER%></td>
                    <td><%=mem.STAFF_MARITAL_STATUS%></td>
                    <td><%=mem.STAFF_NATIONALITY%></td>
                    <td><%=mem.STAFF_QUALIFICATION%></td>
                    <td><%=mem.STAFF_ALLOWANCE%></td>
                    <td><%=mem.STAFF_PPS_NUMBER%></td>
                </tr>
           <% } %>
        </tbody>
    </table>
</body>
</html>
