

<html>
<head>
    <title>Read Claim Settlement</title>
</head>
<body>
    <h1>Claim Settlement</h1>
    <ul>
        <li>Claim Settlement ID: <%= claim_settlement.claim_settlement_id %></li>
        <li>Claim Id: <%= claim_settlement.claim_id %></li>
        <li>Customer Id: <%= claim_settlement.cust_id %></li>
        <li>Vehicle : <%= claim_settlement.vehicle_id %></li>
        <li>Date Settled  : <%= claim_settlement.date_settled %></li>
        <li>Amount Paid  : <%= claim_settlement.amount_paid %></li>
        <li>Coverage Id</li> : <%= claim_settlement.coverage_id %></li>
       
    </ul>
</body>
</html>
