
<html>
<head>
    <title>Read NOK</title>
</head>
<body>
    <h1>NOK</h1>
    <ul>
        <li>Nok Id: <%= nok.nok_id %></li>
        <li>Agreement Id: <%= nok.agreement_id %></li>
        <li>Application Id : <%= nok.application_id %></li>
        <li>Customer Id: <%= nok.cust_id %></li>
        <li>Nok Name: <%= nok.nok_name %></li>
        <li>Nok Address: <%= nok.nok_address %></li>
        <li>Nok Phone Number: <%= nok.nok_phone_number %></li>
        <li>Nok Marital Status: <%= nok.nok_marital_status%></li>
        <li>Nok Gender: <%= nok.nok_gender %></li>
        
    </ul>
</body>
</html>
