

<html>
<head>
    <title>Read Insurance Report</title>
</head>
<body>
    <h1>Insurance Report</h1>
    <ul>
        <li>Insurance Report Id: <%= incident_report.incident_report_id %></li>
        <li>Insurance Id: <%= incident_report.incident_id %></li>
        <li>Customer Id : <%= incident_report.cust_id %></li>
        <li>Incident Inspector: <%= incident_report.incident_inspector %></li>
        <li>Incident Cost: <%= incident_report.incident_cost %></li>
        <li>Incident Type: <%= incident_report.incident_type %></li>
        <li>Incident Report Description: <%= incident_report.incident_report_description %></li>
    </ul>
</body>
</html>
