

<html>
<head>
    <title>Read Department</title>
</head>
<body>
    <h1>Department</h1>
    <ul>
        <li>Department Name: <%= department.department_name %></li>
        <li>Company Name: <%= department.company_name %></li>
        <li>Contact Information : <%= department.contact_information %></li>
        <li>Department Staff: <%= department.department_staff %></li>
        <li>Department Leader: <%= department.department_leader %></li>
    </ul>
</body>
</html>
