<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Vehicle Details</title>
</head>
<body>
    <h1>Vehicle Details</h1>
    <ul>
        <li><strong>VEHICLE_ID:</strong> <%= vehicle.vehicle_id %></li>
        <li><strong>CUST_ID:</strong> <%= vehicle.cust_id %></li>
        <li><strong>POLICY_ID:</strong> <%= vehicle.policy_id %></li>
        <li><strong>DEPENDENT_NOK_ID:</strong> <%= vehicle.dependent_nok_id %></li>
        <li><strong>VEHICLE_REGISTRATION_NUMBER:</strong> <%= vehicle.vehicle_registration_number %></li>
        <li><strong>VEHICLE_VALUE:</strong> <%= vehicle.vehicle_value %></li>
        <li><strong>VEHICLE_TYPE:</strong> <%= vehicle.vehicle_type %></li>
        <li><strong>VEHICLE_SIZE:</strong> <%= vehicle.vehicle_size %></li>
        <li><strong>VEHICLE_NUMBER_OF_SEAT:</strong> <%= vehicle.vehicle_number_of_seat %></li>
        <li><strong>VEHICLE_MANUFACTURER:</strong> <%= vehicle.vehicle_manufacturer %></li>
        <li><strong>VEHICLE_ENGINE_NUMBER:</strong> <%= vehicle.vehicle_engine_number %></li>
        <li><strong>VEHICLE_CHASIS_NUMBER:</strong> <%= vehicle.vehicle_chasis_number %></li>
        <li><strong>VEHICLE_NUMBER:</strong> <%= vehicle.vehicle_number %></li>
        <li><strong>VEHICLE_MODEL_NUMBER:</strong> <%= vehicle.vehicle_model_number %></li>
    </ul>
</body>
</html>
