

<html>
<head>
    <title>Read Application</title>
</head>
<body>
    <h1>Application Information</h1>
    <ul>
        <li>Vehicle Service: <%= vehicle_service.vehicle_service %></li>
        <li>Vehicle Id: <%= vehicle_service.vehicle_id %></li>
        <li>Customer Id : <%= vehicle_service.cust_id %></li>
        <li>Department Name: <%= vehicle_service.department_name %></li>
        <li>Vehicle Service Address: <%= vehicle_service.vehicle_service_address %></li>
        <li>Vehicle Service Contact : <%= vehicle_service.vehicle_service_contact %></li>
        <li>Vehicle Service In-Charge : <%= vehicle_service.vehicle_service_incharge %></li>
        <li>Vehicle Service Type : <%= vehicle_service.vehicle_service_type %></li>
    </ul>
</body>
</html>
