<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Staff Details</title>
</head>
<body>
    <h1>Staff Details</h1>
    <ul>
        <li><strong>STAFF_ID:</strong> <%= staff.staff_id %></li>
        <li><strong>COMPANY_NAME:</strong> <%= staff.company_name %></li>
        <li><strong>STAFF_FNAME:</strong> <%= staff.staff_fname %></li>
        <li><strong>STAFF_LNAME:</strong> <%= staff.staff_lname %></li>
        <li><strong>STAFF_ADDRESS:</strong> <%= staff.staff_address %></li>
        <li><strong>STAFF_CONTACT:</strong> <%= staff.staff_contact %></li>
        <li><strong>STAFF_GENDER:</strong> <%= staff.staff_gender %></li>
        <li><strong>STAFF_MARITAL_STATUS:</strong> <%= staff.staff_marital_status %></li>
        <li><strong>STAFF_NATIONALITY:</strong> <%= staff.staff_nationality %></li>
        <li><strong>STAFF_QUALIFICATION:</strong> <%= staff.staff_qualification %></li>
        <li><strong>STAFF_ALLOWANCE:</strong> <%= staff.staff_allowance %></li>
        <li><strong>STAFF_PPS_NUMBER:</strong> <%= staff.staff_pps_number %></li>
    </ul>
</body>
</html>
