
<html>
<head>
    <title>Read Receipt</title>
</head>
<body>
    <h1>Receipt</h1>
    <ul>
        <li>Receipt Id: <%= receipt.receipt_id %></li>
        <li>PRemium Payment Id: <%= receipt.premium_payment_id%></li>
        <li>Customer Id : <%= receipt.cust_id %></li>
        <li>Cost</li>: <%= receipt.cost %></li>
        <li>Time: <%= receipt.time %></li>
    
    </ul>
</body>
</html>
