
<html>
<head>
    <title>Read Office</title>
</head>
<body>
    <h1>Office</h1>
    <ul>
        <li>Office Name: <%= office.office_name %></li>
        <li>Department Name: <%= office.department_name %></li>
        <li>Company Name : <%= office.company_name %></li>
        <li>Office Leader: <%= office.office_leader %></li>
        <li>Contact Information : <%= office.contact_information %></li>
        <li>Address: <%=office.address %></li>
        <li>Admin Cost: <%=office.admin_cost %></li>
        <li>Staff : <%= office.staff %></li>
    </ul>
</body>
</html>
