

<html>
<head>
    <title>Read Insurance Company</title>
</head>
<body>
    <h1>Insurance Company</h1>
    <ul>
        <li>Company Name: <%= insurance_companies.company_name %></li>
        <li>Company Address: <%= insurance_companies.company_address %></li>
        <li>Company Contact Number: <%= insurance_companies.company_contact_number %></li>
        <li>Company Fax: <%= insurance_companies.company_fax %></li>
        <li>Company Email: <%= insurance_companies.company_email %></li>
        <li>Company Website: <%= insurance_companies.company_website %></li>
        <li>Company Location: <%= insurance_companies.company_location %></li>
        <li>Company Department Name: <%= insurance_companies.company_department_name %></li>
        <li>Company Ofiice Name : <%= insurance_companies.company_office_name %></li>
       
    </ul>
</body>
</html>
