

<html>
<head>
    <title>Read Coverage</title>
</head>
<body>
    <h1>Coverage</h1>
    <ul>
        <li>Coverage Id: <%= coverage.coverage_id %></li>
        <li>Company Name: <%= coverage.company_name %></li>
        <li>Coverage Amount : <%= coverage.coverage_amount %></li>
        <li>Coverage Type: <%= coverage.coverage_type %></li>
        <li>Coverage Level: <%= coverage.coverage_level %></li>
        <li>Product Id: <%= coverage.product_id %></li>
        <li>Coverage Description: <%= coverage.coverage_description %></li>
        <li>Coverage Terms: <%= coverage.coverage_terms %></li>
    </ul>
</body>
</html>
